<section class="main-section introduction">
  <p>Hi this is a sample application built in Angular 6.0.0 (latest).</p>
  <p>This small application uses few of the fundamental concepts of angular and is fully responsive.</p>
  <p>I have tried to cover the following things</p>

  <ul>
    <li>Components & Service</li>
    <li>Property Binding</li>
    <li>Dependency Injection</li>
    <li>Routing</li>
    <li>AJAX requests</li>
    <li>Responsiveness - Tested in chrome dev tool emulator</li>
  </ul>
  <span>Please click here to <a routerLink="/users">Proceed</a>
  </span>
</section>
